:root {
  /* Colors */
  --text-color: #393e46;
  --background-color: #ffffff;
  --background-color-secondary: #f5f8fa;
  --border-color: #e6ecf0;
  --success-color: #1ebea5;
  --danger-color: #d93025;

  /* Dimensions */
  --gutter: 1rem;
  --gutter-small: 0.5rem;

  --md-screen-width: 500px;

  /* Fonts */
  --font-family: "Open Sans", sans-serif;

  --font-size-small: 0.75rem;
  --font-size-regular: 1rem;
  --font-size-big: 1.5rem;

  --font-weight: 400;
  --font-weight-bold: 700;

  /* Other */
  --border-radius: 4px;

  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --box-shadow: 0 2px 15px 0 var(--box-shadow-color);

  /* Transitions */
  --transition-fast: 0.2s;
}

body {
  margin: 0;
  min-height: 100vh;
  /* CSS fix for 100vh in mobile WebKit */
  /* noinspection CssInvalidPropertyValue */
  min-height: -webkit-fill-available;

  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-regular);
  font-family: var(--font-family);

  background-color: var(--background-color);
}

html {
  /* CSS fix for 100vh in mobile WebKit */
  /* noinspection CssInvalidPropertyValue */
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}
